.ownStyle {
  border: 1px black solid;
}

.profilePic {
  float: right;
  height: 50%;
  width: 50%;
  margin: 10px 10px;
}

#AboutMe {
  padding-right: 0px;
}

@media screen and (min-width: 500px) {
  .profilePic {
    width: 20%;
  }

}
