.mobileNav {
  border-bottom: 1px solid #ddd;
  padding: 10px 0 10px 10px;
  background-color: #524848;
}

.profilePic {
  float: right;
  height: 50%;
  width: 50%;
  margin: 40px 10px 10px 10px;
  border: 2px solid red;
}

.ownStyle {
  padding: 10px 10px;
}

@media screen and (min-width: 600px) {
  .profilePic {
    width: 30%;
  }
}

.background-1 {
  background-image: url("images/darkTextured.jpg");
  opacity: 0.75;
  color: white;
  font-weight: bold;
}

.background-2 {
  background-image: url("images/greyTextured.jpeg");
  opacity: 0.9;
  color: black;
  font-weight: bold;
}

.centred {
  text-align: center;
}
