.ownStyle {
  border: 1px black solid;
}

.profilePic {
  height:50%;
  width: 50%;
  float: right;
  margin: 0px 0px 10px 10px;
}



#AboutMe {
  padding-right: 0px;
}

@media and screen (min-width: 760px) {
  .profilePic {
    height: 100px;
    width: 100px;
  }
}
